body {
  padding-top: 50px;
}

.home-header,
.error-header {
  padding: 40px 15px;
  text-align: center;
}

.checks-header {
  padding: 40px 0px;
}

.flag {
  width: 24px;
}

.home-header h1 {
  font-size: 64px;
}

#homepic {
  margin-top: 40px;
  max-width: 100%;
  max-height: 305px;
}

.info {
  font-size: 34px;
  margin-top: 50px;
}

.modal-body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
