{{{define "body"}}}
  <div class="checks-header">
    <h1>Check details</h1>

    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/checks">Checks</a></li>
      <li class="active">{{{.Check.URL}}}</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-md-10">
      {{{with .Check}}}
      <div class="panel {{{if .Success}}} panel-success {{{else if lt .Status 100}}} panel-warning {{{else}}} panel-danger {{{end}}}">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="badge">
              {{{if lt .Status 100}}}
              Error
              {{{else}}}
              {{{.Status}}}
              {{{end}}}
            </span>
            {{{.URL}}}
          </h3>
        </div>
        <div class="panel-body">
          <p>
            Last checked <time data-role="timeago" datetime="{{{formatTime .UpdatedAt}}}">{{{formatTime .UpdatedAt}}}</time>.&nbsp;
            <a class="" href="/checks/{{{.Id}}}" role="button">
              <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
              View details
            </a>
          </p>
        </div>
      </div>
      {{{end}}}
    </div>
    <div class="col-md-2">
      <form action="/checks/{{{.Check.Id}}}/delete" method="POST" id="delete-check-form">
        <input type="hidden" name="csrf_token" value="{{{ .CSRFToken }}}">
        <button data-state="unarmed" type="submit" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <span data-role="label">Destroy</span>
        </button>
      </form>
    </div>
  </div>

  <h2>Results</h2>

  <div id="results-container" data-url="/checks/{{{.Check.Id}}}/results">No results yet</div>
  <!-- type Result struct {
    Id        int64
    CreatedAt time.Time
    Status    int
    Success   bool
    IP        string `gorm:"column:ip"`
    CheckId   int64
  } -->

  <script id="results-template" type="text/x-handlebars-template">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Status</th>
          <th>Success?</th>
          <th>Tested from</th>
        </tr>
      </thead>
      <tbody>
        {{#each Results}}
          <tr class="{{CSSclass}}">
            <td><time datetime="{{CreatedAt}}">{{CreatedAt}}</time></td>
            <td>{{Status}}</td>
            <td>
              <span class="glyphicon {{Icon}}">&nbsp;{{TextStatus}}</span>
            </td>
            <td>
              {{#if Country}}
                {{Country}}
              {{else}}
                Unknown
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </script>

{{{end}}}
