{{define "body"}}
<div class="checks-header">
  <h1>
    Checks
    <!-- <span class="label label-success">3 up</span>
    <span class="label label-warning">1 unknown</span>
    <span class="label label-danger">1 down</span> -->
  </h1>
</div>

<p>
  <a class="btn btn-info" href="/checks/new" role="button">Add a new check</a>
</p>

{{range .Checks}}

  <div class="panel {{if .Success}} panel-success {{else if lt .Status 100}} panel-warning {{else}} panel-danger {{end}}">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="badge">
          {{if lt .Status 100}}
            Error
          {{else}}
            {{.Status}}
          {{end}}
        </span>
        {{.URL}}
      </h3>
    </div>
    <div class="panel-body">
      <p>
        Last checked <time datetime="{{.UpdatedAt}}">{{.UpdatedAt}}</time>.&nbsp;
        <a class="" href="/checks/{{.Id}}" role="button">
          <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
          View details
        </a>
      </p>
    </div>
  </div>

{{end}}

{{end}}
