{{define "body"}}
<div class="checks-header">
  <h1>
    Checks
    <span class="label label-success">3 up</span>
    <span class="label label-warning">1 unknown</span>
    <span class="label label-danger">1 down</span>
  </h1>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="badge">200</span>
      https://secret-server-0.goff.ee/
    </h3>
  </div>
  <div class="panel-body">
    Last checked <time datetime="1996-12-19T16:39:57-08:00">1996-12-19T16:39:57-08:00</time>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="badge">204</span>
      https://secret-server-1.goff.ee/
    </h3>
  </div>
  <div class="panel-body">
    Last checked <time datetime="1996-12-19T16:39:57-08:00">1996-12-19T16:39:57-08:00</time>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="badge">201</span>
      https://secret-server-2.goff.ee/
    </h3>
  </div>
  <div class="panel-body">
    Last checked <time datetime="1996-12-19T16:39:57-08:00">1996-12-19T16:39:57-08:00</time>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="badge">timeout</span>
      https://www.goff.ee/
    </h3>
  </div>
  <div class="panel-body">
    Last checked <time datetime="2014-12-19T16:39:57-08:00">1996-12-19T16:39:57-08:00</time>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="badge">500</span>
      https://www.goff.ee/
    </h3>
  </div>
  <div class="panel-body">
    Last checked <time datetime="2014-12-31T16:39:57-08:00">1996-12-19T16:39:57-08:00</time>
  </div>
</div>
{{end}}
