{{{define "body"}}}
<div class="home-header">
  <h1>Global uptime monitoring via Tor</h1>
  <img id="homepic" src="/images/homepic.png">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="info">Written in Go, Goffee is a fast, concurrent way to monitor your sites from all over the World.</p>
    </div>
  </div>
</div>

<div class="row" id="home-thumbnails">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a data-role="modal" href="/images/screenshot-worldwide.png">
        <img src="/images/screenshot-worldwide.png" alt="Screenshot">
      </a>
      <div class="caption">
        <h3><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Worldwide monitoring</h3>
        <p>The exit nodes from which checks are made are periodically rotated, this ensuring that your site is up from all over the world.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a data-role="modal" href="/images/screenshot-gopher.png">
        <img src="/images/screenshot-gopher.png" alt="Screenshot">
      </a>
      <div class="caption">
        <h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Powered by Gophers</h3>
        <p>Actual, real life gopher on little treadmills, working hard to make sure that your site is up.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a data-role="modal" href="/images/screenshot-onion.png">
        <img src="/images/screenshot-onion.png" alt="Screenshot">
      </a>
      <div class="caption">
        <h3><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Monitor .onion sites</h3>
        <p>Since all checks are run over the Tor network you can also use Goffee to monitor the uptime of .onion sites.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well" id="home-bottom">
      Goffee can monitor both your normal web applications and Tor network .onion sites
    </div>
  </div>
</div>

{{{end}}}
