<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {{{if .Title}}}
      {{{.Title}}}
    {{{else}}}
      Goffee
    {{{end}}}
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/superhero/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/application.css" rel="stylesheet" media="all">

  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Goffee</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          {{{if .UserSignedIn }}}
            <li><a href="/checks">Checks</a></li>
          {{{end}}}
        </ul>
        {{{if .UserSignedIn }}}
          <p class="navbar-text navbar-right">
            Signed in as {{{.CurrentUser.GitHubLogin}}}. <a href="/sign_out" class="navbar-link">Sign out</a>
          </p>
        {{{else}}}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/oauth/authorize">Sign in with Github</a></li>
          </ul>
        {{{end}}}
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    {{{range .Flashes}}}
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{{.}}}
      </div>
    {{{end}}}

    {{{yield}}}
  </div><!-- /.container -->

  <footer class="footer">
    <div class="container">
      <p class="text-muted">
        Created by <a class="text-muted" href="https://twitter.com/jcxplorer">Joao Cardoso</a>,
        <a class="text-muted" href="http://matiaskorhonen.fi">Matias Korhonen</a>,
        and <a class="text-muted" href="https://twitter.com/sdsykes">Stephen Sykes</a> for
        the <a class="text-muted" href="http://gophergala.com/">Gopher Gala</a>.
      </p>
    </div>
  </footer><!-- /.footer -->

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/equalize.js/1.0.1/equalize.min.js"></script>
  <script src="/javascripts/happy.js"></script>
  <script src="/javascripts/application.js"></script>
</body>
</html>
