{{{define "body"}}}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/checks">Checks</a></li>
  <li class="active">Create new check</li>
</ol>

<div class="checks-header">
  <h1 class="text-center">Let's add a new check!</h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form action="/checks" method="POST" id="check-form">
      <input type="hidden" name="csrf_token" value="{{{ .CSRFToken }}}">
      <div class="form-group">
        <label class="control-label" for="url">URL</label>
        <input type="url" class="form-control" id="url" name="url" placeholder="Enter URL" required>
      </div>
      <button type="submit" class="btn btn-primary">Create Check</button>
    </form>
  </div>
</div>
{{{end}}}
